<template>
  <v-card color="lighten-4" flat height="100vh" tile >
    <v-toolbar color="primary text-white">
      <v-toolbar-title class="m-title pl-5" fixed scroll-off-screen>
          <strong>SMDPS </strong> <span class="normal"> / rca-catholic member registartion</span>
      </v-toolbar-title>
    </v-toolbar>
    <div class="form p-sm-5">
        <v-form>
            <v-container>
                <span class="all-fields text-danger">{{ valid }}</span>
                <v-row>
                <v-col cols="6" sm='12' lg='6'>
                    <v-text-field
                        v-model="user.first_name"
                        label="First Name"
                        :rules="rules" hide-details="auto"
                        hint="For example, IRUMVA HABUMUGISHA"
                    ></v-text-field>
                </v-col>
                <v-col cols="6" sm='12' lg='6'>
                    <v-text-field
                        v-model="user.last_name"
                        label="Last Name"
                        :rules="rules" hide-details="auto"
                        hint="For example, Anselme"
                    ></v-text-field>
                </v-col>
                <v-col cols="6" sm='12' lg='6'>
                    <v-select
                        v-model="user.gender"
                        :items="genders"
                        label="Gender"
                        required
                        clearable
                        :rules="rules" hide-details="auto"
                        ></v-select>
                </v-col>
                <v-col cols="6" sm='12' lg='6'>
                    <v-select
                        v-model="user.level"
                        :items="levels"
                        label="Level"
                        required
                        clearable
                        :rules="rules" hide-details="auto"
                        ></v-select>
                </v-col>
                <v-col cols="6" sm='12' lg='6'>
                    <v-select
                        v-model="user.class"
                        :items="classes"
                        label="Class"
                        required
                        clearable
                        :rules="rules" hide-details="auto"
                        ></v-select>
                </v-col>
                <v-col cols="6" sm='12' lg='6'>
                    <v-text-field
                        v-model="user.email"
                        v-on:keyup="checkEmail"
                        label="Email"
                        :rules="rules" hide-details="auto"
                        suffix="@gmail.com"
                        hint="For example, andesanselme@gmail.com"
                    ></v-text-field>
                    <span class="email-taken text-danger">{{ emailtaken }}</span>
                </v-col>
                <v-col cols="6 mt-5"  sm='12' lg='6'>
                    <v-btn color="primary" @click="registerNewMember" block>
                        Register
                    </v-btn>
                </v-col>
            </v-row>
            </v-container>
        </v-form>
    </div>
    <v-overlay :value="overlay">
      <h1 class='text-center' v-if="yes == 1">Sucesfully Registered !!!</h1>
      <v-progress-circular indeterminate size="64" v-else></v-progress-circular>
    </v-overlay>
  </v-card>
</template>

<script>
import axios from 'axios'

export default {
    data(){
        return {
            valid: '',
            emailtaken: '',
            user:{
                first_name: '',
                last_name: '',
                gender: '',
                level: '',
                class: '',
                email: '',
            },

            rules: [
                value => !!value || 'Required.',
                value => (value && value.length >= 3) || 'Min 3 characters',
            ],
            genders:['Male','Female'],
            levels:['Year 1','Year 2'],
            classes:['Class A','Class B','Class C'],
            overlay: false,
            yes: 2
         }
    },
    methods:{
        validate () {
            let user = this.user
            let email = this.checkEmail()
            if(user.first_name == '' || user.last_name == '' || user.gender == '' || user.email == '' || user.class == '' ||user.level == '' || email == 'false') return false
            else return true
        },
        async registerNewMember(){
            if(this.validate() == true){
                this.overlay = true
                this.start();
                try {
                    let newMember = await  axios.post(this.url+'/api/rca-catholics',{
                        first_name: this.user.first_name,
                        last_name: this.user.last_name,
                        gender: this.user.gender,
                        email: this.user.email+"@gmail.com",
                        class: this.user.class,
                        level: this.user.level
                    })
                    
                    if(newMember.data._id){
                        setTimeout(() => {
                            this.finish()
                            this.overlay = false
                        }, 1500)
                        this.yes = 1
                        setTimeout(() => {
                            this.$router.push('/services')
                        }, 5000)
                    }
                    else {
                        this.valid = "Failed To create New User"
                        this.finish()
                        this.overlay = false
                    }
                    console.log(newMember)
                } catch (error) {
                    console.log(error)
                }
            }else { 
                this.valid = " all Fields are required "
            }
        },

        start () {
            this.$Progress.start()
        },
        finish () {
            this.$Progress.finish()
        },
        async checkEmail(){
            let email = this.user.email+"@gmail.com"
            let allCatholicsNo = await axios.get( this.url+"/api/rca-catholics/checkEmail/"+email);
            if(parseInt(allCatholicsNo.data) > 0){
                this.emailtaken = "Email already taken ...."
                return 'false'
            }else{
                this.emailtaken = "";
                return 'true'
            }
        }
    }
};
</script>
<style scoped>
    .normal
    {
        color: #eee;
    }
    .form
    {
        margin: 0px auto;
    }
    .email-taken
    {
        font-size: 13px;
    }
</style>
