<template>
  <v-app class="app">
    <p class="text-center hello-1">{{ result }}</p>
    <v-card width="700" class="my-card mx-auto pb-5">
      <v-card-title class="my-card-title">
        <h1>Log in</h1>
      </v-card-title>
      <v-card-text class="my-body">
        <v-form>
          <v-text-field
            :rules="rules"
            hide-details="auto"
            v-model="email"
            required
            label="username or email"
            prepend-icon="mdi-account-circle"
          />
          <v-text-field
            :rules="rules"
            hide-details="auto"
            v-model="password"
            required
            :type="showPassword ? 'text' : 'password'"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            prepend-icon="mdi-lock"
            label="password"
            @click:append="showPassword = !showPassword"
          />
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-text>
        <v-btn @click="login" class="mt-5 ml-5" color="info">Log in</v-btn>
      </v-card-text>
    </v-card>
  </v-app>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      showPassword: false,
      email: "",
      password: "",
      result: '',
      rules: [
        value => !!value || "Required.",
        value => (value && value.length >= 3) || "Min 3 characters"
      ]
    };
  },

  methods: {
    async login() {
      try {
        let user = await axios.post(this.url+"/api/accounts/login", {
          email: this.email,
          password: this.password
        });
        if(user.data != 'Invalids'){
          localStorage.setItem('usertoken', user.data)
          this.$router.push("/dashboard")
        }else{
            this.result = "Invalid email or password !!!"
        }
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>
<style scoped>
.my-body {
  padding-top: 50px;
  padding-bottom: 50px;
}
.my-card-title {
  color: white;
  /* background-color: #162463; */
  background-image: linear-gradient(to left, #273ea9, blue);
  font-weight: 400;
}
.hello-1 {
  margin-top: 70px;
  color: red;
}
</style>
