<template>
  <div>
      Thank You for using our app
  </div>
</template>

<script>
export default {
    mounted(){
        localStorage.setItem('usertoken', 'logedOut')
        this.$router.push("/dashboard")
    }
}
</script>

<style>

</style>