<template>
  <v-app>
      <div class="body">
          <h1 class="text-center text-bold">Here are the available services for all users</h1>
          <div class="line"></div>
          <div class="main-body">
              <div class="row">
                  <div class="col-4 text-center">
                        <div class="my-2">
                            <v-btn @click="registerCathMember" x-large rounded color="primary" dark>Register as a catholic</v-btn>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </v-app>
</template>

<script>
export default {
  methods:{
      registerCathMember(){
          this.$router.push("services/rca-catholic-member");
      }
  }
};
</script>
<style scoped>
    .body
    {
        padding: 30px 100px;
    }
    .text-bold
    {
        font-weight: 700;
    }
    .line
    {
        height: 5px;
        background-color: #000;
        margin-bottom: 50px;
    }
</style>
