<template>
  <div class="body">
    <h1 class="intro-h1 text-center">Welcome to the smdps system</h1>

    <div class="text-center">
      <v-btn class="my-btn" @click="continueClicked" rounded color="primary" dark>Continue</v-btn>
    </div>

    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>
<script>
export default {
  data(){
    return {
      overlay: false
    }
  },
  watch: {
    overlay (val) {
      val && setTimeout(() => {
        this.overlay = false
        this.finish();
        this.$router.push("services")
      }, 3000)
    }
  },
  methods:{
    start () {
      this.$Progress.start()
    },
    finish () {
      this.$Progress.finish()
    },
    continueClicked(){
      this.overlay = true;
      this.start()
    }
  }
};
</script>
<style scoped>
.intro-h1 {
  font-size: 60px;
  color: grey;
  width: 80%;
  margin: 250px auto 50px;
}
</style>